    .topbar{
        background-color: #ffe4e1;
        margin: -8px;
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        padding: 19px;
    }

    .topbar a{
        font-size: 18px;
        text-decoration: none;
        color: #333;
    }

    .navbar{
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .logo{
        display: flex;
        justify-self: start;
    }

    .logo img{
        max-width: 180px;
        width: 100%;
        height: auto;
    }
    
    .sections {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    .sections a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
    }

    .search-cart {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .search-cart input {
        padding: 5px 10px;
        background-color: #ffe4e1;
        border: none;
        font-size: 15px;
    }

    .poster img {
        width: 100%;
        height: auto;
        display: block;
        margin-top: 20px;
        margin: 0;
    }
    .about-us {
        max-width: 900px;
        margin: 50px auto;
        font-family: "Georgia", serif;
        line-height: 1.8;
        color: #333;
        padding: 0 20px;
        margin-bottom: 400px;
    }

    .about-header {
        background-color: #f8d6d9;
        padding: 15px;
        text-align: center;
        margin-bottom: 25px;
    }

    .about-header h2 {
        font-size: 28px;
        color: #b85c6e;
        margin: 0;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .about-header h2 span {
        color: black;
    }

    .about-content p {
        margin-bottom: 20px;
        font-size: 18px;
    }

    footer{
        background-color: #ffe4e1;
        margin: 0;
    }

    footer .Summary-product{
        display: flex;
        justify-content: space-around;
        padding: 30px 20px;
    }

    footer .Service-information{
        display: grid;
        justify-content: space-around;
    }

    @media (max-width: 768px) {

        .navbar {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .sections {
            justify-content: center;
            width: 100%;
        }

        .search-cart {
            justify-content: center;
            width: 100%;
        }

        .poster img {
            width: 100%;
            height: auto;
        }
    }
